@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
}

nav {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}
